{
  "openapi": "3.0.0",
  "info": {
    "description": "The Remap Links API allows you to replace file-based links in InDesign documents with AEM URLs. This is particularly useful for customers working with Adobe Experience Manager (AEM) using Adobe Asset Link, enabling designers to work with output files that have direct links to AEM URLs.",
    "version": "3.0.0",
    "title": "InDesign Remap Links API",
    "contact": {
      "email": "idservices@adobe.com"
    }
  },
  "servers": [
    {
      "url": "https://indesign.adobe.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v3/remap-links": {
      "post": {
        "summary": "Remap links",
        "description": "This service replaces existing file-based links in InDesign documents with AEM URLs. This is particularly useful for customers working with AEM using AEM Asset Link, as it allows designers to work with the output files post-generation by having direct links to AEM URLs.",
        "operationId": "remapLinks",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "Identifier for the IMS organization as defined in Adobe's developer console. This is optional.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API key as defined in Adobe's developer console.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token with bearer `token_value`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-aem-token",
            "in": "header",
            "description": "Bearer token generated for the AEM technical account without the bearer keyword.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemapLinksRequest"
              }
            }
          },
          "description": "Job request object that specifies parameters for remapping links in the InDesign document.",
          "required": true
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/Accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "responses": {
      "Accepted": {
        "description": "The job has been accepted for processing.",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "jobId": {
                  "type": "string",
                  "description": "ID"
                },
                "statusUrl": {
                  "type": "string",
                  "description": "Status URL for the job."
                }
              }
            }
          }
        },
        "headers": {
          "link": {
            "schema": {
              "type": "string"
            },
            "description": "status url for retry"
          },
          "retry-after": {
            "schema": {
              "type": "integer"
            },
            "description": "Number of seconds until the user should try again"
          },
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "Type of content returned e.g. application/json"
          },
          "Content-Length": {
            "schema": {
              "type": "integer"
            },
            "description": "Length of response content"
          },
          "Access-Control-Allow-Origin": {
            "schema": {
              "type": "string"
            },
            "description": "Cross Origin Resource Sharing header"
          },
          "Access-Control-Allow-Methods": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicates what HTTP methods are allowed"
          },
          "Access-Control-Allow-Headers": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicate which HTTP headers can be used during the actual request"
          },
          "Access-Control-Allow-Credentials": {
            "schema": {
              "type": "string"
            },
            "description": "Header is used by servers to indicate that the client shall share HTTP responses"
          },
          "Access-Control-Max-Age": {
            "schema": {
              "type": "integer"
            },
            "description": "Header indicates how long the results of a preflight request"
          }
        }
      },
      "BadParams": {
        "description": "Bad parameter",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "Type of content returned e.g. application/json"
          },
          "Content-Length": {
            "schema": {
              "type": "integer"
            },
            "description": "Length of response content"
          },
          "Access-Control-Allow-Origin": {
            "schema": {
              "type": "string"
            },
            "description": "Cross Origin Resource Sharing header"
          },
          "Access-Control-Allow-Methods": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicates what HTTP methods are allowed"
          },
          "Access-Control-Allow-Headers": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicate which HTTP headers can be used during the actual request"
          },
          "Access-Control-Allow-Credentials": {
            "schema": {
              "type": "string"
            },
            "description": "Header is used by servers to indicate that the client shall share HTTP responses"
          },
          "Access-Control-Max-Age": {
            "schema": {
              "type": "integer"
            },
            "description": "Header indicates how long the results of a preflight request"
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "Type of content returned e.g. application/json"
          },
          "Content-Length": {
            "schema": {
              "type": "integer"
            },
            "description": "Length of response content"
          },
          "Access-Control-Allow-Origin": {
            "schema": {
              "type": "string"
            },
            "description": "Cross Origin Resource Sharing header"
          },
          "Access-Control-Allow-Methods": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicates what HTTP methods are allowed"
          },
          "Access-Control-Allow-Headers": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicate which HTTP headers can be used during the actual request"
          },
          "Access-Control-Allow-Credentials": {
            "schema": {
              "type": "string"
            },
            "description": "Header is used by servers to indicate that the client shall share HTTP responses"
          },
          "Access-Control-Max-Age": {
            "schema": {
              "type": "integer"
            },
            "description": "Header indicates how long the results of a preflight request"
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "Type of content returned e.g. application/json"
          },
          "Content-Length": {
            "schema": {
              "type": "integer"
            },
            "description": "Length of response content"
          },
          "Access-Control-Allow-Origin": {
            "schema": {
              "type": "string"
            },
            "description": "Cross Origin Resource Sharing header"
          },
          "Access-Control-Allow-Methods": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicates what HTTP methods are allowed"
          },
          "Access-Control-Allow-Headers": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicate which HTTP headers can be used during the actual request"
          },
          "Access-Control-Allow-Credentials": {
            "schema": {
              "type": "string"
            },
            "description": "Header is used by servers to indicate that the client shall share HTTP responses"
          },
          "Access-Control-Max-Age": {
            "schema": {
              "type": "integer"
            },
            "description": "Header indicates how long the results of a preflight request"
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "Type of content returned e.g. application/json"
          },
          "Content-Length": {
            "schema": {
              "type": "integer"
            },
            "description": "Length of response content"
          },
          "Access-Control-Allow-Origin": {
            "schema": {
              "type": "string"
            },
            "description": "Cross Origin Resource Sharing header"
          },
          "Access-Control-Allow-Methods": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicates what HTTP methods are allowed"
          },
          "Access-Control-Allow-Headers": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicate which HTTP headers can be used during the actual request"
          },
          "Access-Control-Allow-Credentials": {
            "schema": {
              "type": "string"
            },
            "description": "Header is used by servers to indicate that the client shall share HTTP responses"
          },
          "Access-Control-Max-Age": {
            "schema": {
              "type": "integer"
            },
            "description": "Header indicates how long the results of a preflight request"
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "Type of content returned e.g. application/json"
          },
          "Content-Length": {
            "schema": {
              "type": "integer"
            },
            "description": "Length of response content"
          },
          "Access-Control-Allow-Origin": {
            "schema": {
              "type": "string"
            },
            "description": "Cross Origin Resource Sharing header"
          },
          "Access-Control-Allow-Methods": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicates what HTTP methods are allowed"
          },
          "Access-Control-Allow-Headers": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicate which HTTP headers can be used during the actual request"
          },
          "Access-Control-Allow-Credentials": {
            "schema": {
              "type": "string"
            },
            "description": "Header is used by servers to indicate that the client shall share HTTP responses"
          },
          "Access-Control-Max-Age": {
            "schema": {
              "type": "integer"
            },
            "description": "Header indicates how long the results of a preflight request"
          }
        }
      },
      "TooManyRequests": {
        "description": "Too many requests - rate limiting applied",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "schema": {
              "type": "string"
            },
            "description": "Type of content returned e.g. application/json"
          },
          "Content-Length": {
            "schema": {
              "type": "integer"
            },
            "description": "Length of response content"
          },
          "Retry-After": {
            "schema": {
              "type": "integer"
            },
            "description": "The number of seconds to wait before making a new request."
          },
          "Access-Control-Allow-Origin": {
            "schema": {
              "type": "string"
            },
            "description": "Cross Origin Resource Sharing header"
          },
          "Access-Control-Allow-Methods": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicates what HTTP methods are allowed"
          },
          "Access-Control-Allow-Headers": {
            "schema": {
              "type": "string"
            },
            "description": "Header indicates which HTTP headers can be used during the actual request"
          },
          "Access-Control-Allow-Credentials": {
            "schema": {
              "type": "string"
            },
            "description": "Header used by servers to indicate that the client shall share HTTP responses"
          },
          "Access-Control-Max-Age": {
            "schema": {
              "type": "integer"
            },
            "description": "Header indicating how long the results of a preflight request can be cached"
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "error_code"
        ]
      },
      "InputAsset": {
        "type": "object",
        "description": "The URL where the asset will be found.",
        "required": [
          "source"
        ],
        "properties": {
          "source": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "description": "The URL of the asset."
              },
              "storageType": {
                "type": "string",
                "description": "The storage type where the asset is located. This is an optional parameter, but it's recommended to provide this information.",
                "enum": [
                  "Azure",
                  "Dropbox",
                  "Aws"
                ]
              }
            }
          },
          "destination": {
            "type": "string",
            "description": "This provides a path relative to a temporary base directory (working directory) where resource would be downloaded. This would be used to identify the assets within the parameters. It cannot go up using '..' or '/'. Should be a valid file name."
          }
        }
      },
      "OutputAsset": {
        "description": "The URL where the output assets are posted after the job processing.",
        "type": "object",
        "required": [
          "destination",
          "source"
        ],
        "properties": {
          "destination": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "description": "The URL of the asset."
              },
              "storageType": {
                "type": "string",
                "description": "The storage type where the asset is located. This is an optional parameter, but it's recommended to provide this information.",
                "enum": [
                  "Azure",
                  "Dropbox",
                  "Aws"
                ]
              }
            }
          },
          "source": {
            "type": "string",
            "description": "A relative path to the output where the resource would be generated. The path cannot navigate up the directory tree using '..' or '/'. This should be a valid file name."
          }
        }
      },
      "BaseEvent": {
        "type": "object",
        "description": "Base event response for any job.",
        "properties": {
          "jobId": {
            "description": "GUID ID for the job.",
            "type": "string"
          }
        }
      },
      "notstartedEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseEvent"
          },
          {
            "description": "Job is in queued state.",
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "The current state of the job.",
                "enum": [
                  "not_started"
                ]
              }
            }
          }
        ]
      },
      "runningEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseEvent"
          },
          {
            "description": "Job is in running state.",
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "The current state of the job.",
                "enum": [
                  "running"
                ]
              },
              "message": {
                "type": "string",
                "description": "Description of the current running state."
              }
            }
          }
        ]
      },
      "succeededEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseEvent"
          },
          {
            "description": "Job has succeeded.",
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "The current state of the job.",
                "enum": [
                  "succeeded"
                ]
              },
              "data": {
                "type": "object",
                "description": "Output response from the current state of the job."
              },
              "dataURL": {
                "type": "string",
                "description": "The data returned from execution of the job. If the data is more than 250 kB and less the 20 MB, it will be provided as a pre-signed URL. If it is more than 20 MB, the job will fail."
              },
              "outputs": {
                "type": "object",
                "description": "This contains a list of URLs for all the generated assets."
              }
            }
          }
        ]
      },
      "failedEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseEvent"
          },
          {
            "description": "Job is in failed state.",
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "The current state of the job.",
                "enum": [
                  "failed"
                ]
              },
              "error_code": {
                "type": "string",
                "description": "Error code for failure."
              },
              "message": {
                "type": "string",
                "description": "Error message for failure."
              },
              "data": {
                "type": "object",
                "description": "Detailed error information."
              }
            }
          }
        ]
      },
      "RemapLinksRequest": {
        "description": "Inputs for the link remapping request.",
        "type": "object",
        "required": [
          "params",
          "assets"
        ],
        "properties": {
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InputAsset"
            }
          },
          "params": {
            "type": "object",
            "required": [
              "targetDocument",
              "dataSource"
            ],
            "properties": {
              "targetDocument": {
                "description": "The InDesign document in which links need to be remapped.",
                "type": "string"
              },
              "dataSource": {
                "description": "Array of link mappings containing source and destination URIs.",
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "required": [
                    "sourceURI",
                    "destinationURI"
                  ],
                  "properties": {
                    "sourceURI": {
                      "type": "string",
                      "description": "File path/resource URI for the existing link that needs to be remapped."
                    },
                    "destinationURI": {
                      "type": "string",
                      "description": "AEM URI that will replace the existing link."
                    }
                  }
                }
              }
            }
          },
          "outputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OutputAsset"
            }
          }
        }
      }
    }
  }
} 